body {
    color: #333333;
    font-family: serif;
}

header {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 940px;
}

img {
    width: 30%;
    height: 30%;
    position: relative;
}

.magnifier {
    width: 18px;
}

.searching,
.menu-content {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.searching h2,
.searching form,
.menu-content h2 {
    margin: 10px;
}

.menu-content li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-content {
    clear: left;
}

.searching input {
    vertical-align: middle;
}

.searching input [ type=search] {
    width: 170px;
}

.highlights {
    margin-top: 10px;
}

.menu-content {
    margin-top: 10px;
    padding-bottom: 10px;
}

.profilePhoto {
    width: 20%;
    height: 20%px;
}

.shoppingCart {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(../Images/ShoppingCart.png) no-repeat right;
    font-size: 14px;
    padding-right: 50px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    background-size: contain;
}


.menu-options ul {
    font-size: 15px
}

.menu-options a {
    color: #003366;
}

.menu-options ul li {
    display: inline;
    margin-left: 20px;
}

.menu-options {
    position: absolute;
    bottom: 0;
    right: 0;
}

.panel {
    margin: 10px 0;
    padding: 10px;
    width: 35%;
}

.class1 {
    float: left;
    background-color: #f5dcdc;
}

.class2 {
    float: right;
    background-color: #dcdcf5;
}

.panel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.panel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom:
        10px;
}

.panel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: #333;
    clear: both;
    color: #fff;
    padding: 10px 0;
    bottom: 6px;
    width: 100%;
}

footer .container {
    margin: 0 auto;
    position: relative;
}

.social ul {
    list-style: none;
    padding: 0;
}

.social a {
    text-indent: -9999px;
    display: block;
    width: 40px;
    height: 40px;
}

.social a[href *="twitter.com"] {
    background-image: url(../Images/LogoTwitter.png);
    background-size: contain;

}

.social a[href *="instagram.com"] {
    background-image: url(../Images/LogoInstagram.png);
    background-size: contain;

}

.social a[href *="linkedin.com"] {
    background-image: url(../Images/LogoLinkedin.png);
    background-size: contain;

}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social li {
    float: left;
}

.footerImage {
    width: 50px;
    height: 50px;
}

footer ul.social li a {
    color: #fff;
    text-decoration: none;
}

footer ul.social li a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}