html {
background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/172faae2-3225-4deb-bf48-b90e74eae843/dfqeoes-acc4ba20-8d6c-40b1-a25a-99f5cf5d4b9f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3MmZhYWUyLTMyMjUtNGRlYi1iZjQ4LWI5MGU3NGVhZTg0M1wvZGZxZW9lcy1hY2M0YmEyMC04ZDZjLTQwYjEtYTI1YS05OWY1Y2Y1ZDRiOWYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yCE-YcJmNUlDcRbJ0TeDyfCafUCp-z9AWcKb6fk-w2E);
}

h1 {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

h2 {
    border-style: solid;
    border-width: 10px;
    border-color: purple;
}

p {
    border-style: solid;
    border-width: 10px;
    border-color: blue;
}